<h1>Web Server NodeJS</h1>
<h2>Halo Ananda <%= nama %></h2>

<h4>Daftar Mahasiswa</h4>
<% if (mahasiswa.length < 1) { %>
    <p>Data Mahasiswa masih Kosong</p>
<% } else { %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>Nama : <%= mhs.nama %> </li>
            <li>Email : <%= mhs.email %></li>
        </ul>
    <% }) %>
<% } %> 
