<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="row justify-content-center">
                <div class="col-5">
                    <img src="img/image-1.jpg" alt="image-1" class="img-fluid img-thumbnail" />
                </div>
            </div>
            <h1 class="display-4">Ananda Arya</h1>
            <p class="lead">Lecture | Web Developer</p>
        </div>
    </div>
</div>